.background-image::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-image: url("./bk.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Hide scroll bar, but while still being able to scroll */
.carousel-wrap {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.carousel-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Workaround for flex bug :(
 * minimum content sizing of flex items not honored 
 * https://github.com/philipwalton/flexbugs#flexbug-1 */
.flex-minimum-content-sizing {
  flex-shrink: 0;
  flex-basis: auto;
}
