html {
  font-size: calc(16px + 1vw);
}

/* Hide scroll bar, but while still being able to scroll */
.carousel-wrap {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.carousel-wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Workaround for flex bug :(
 * minimum content sizing of flex items not honored 
 * https://github.com/philipwalton/flexbugs#flexbug-1 */
.flex-minimum-content-sizing {
  flex-shrink: 0;
  flex-basis: auto;
}
